.require {
   min-height: 764px;
   padding: 68px 0px 87px;
}
.require_label {
   margin-bottom: 27px;
}
.require_block {
   margin: 33px 0px;
}
.require_block_nmb {
   margin-bottom: 0;
}
.require_block_title {
   font-weight: 400;
   font-size: 22px;
}
.require_list {
   margin-top: 22px;
   list-style-type: none;
   padding-left: 50px;
   & li {
      position: relative;
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      color: #222222;
      margin-bottom: 10px;

      &::before {
         content: "";
         display: block;
         position: absolute;
         left: -32px;
         top: 3px;
         width: 21px;
         height: 20px;
         background: url("../icons/require/check_blue.svg") center center/cover no-repeat;
      }
   }
}
.require_descr {
}
.require_title_blue {
   color: #1ca8c3;
}
.require_title_red {
   color: #ff5656;
}
.warning {
   .require_block_title {
      color: #ff5656;
   }
   .require_list {
      li {
         &::before {
            background: url("../icons/require/check_red.svg") center center/cover no-repeat;
         }
      }
   }
}
