* {
   font-family: Roboto, sans-serif;
}
.wrapper {
   width: 100%;
}
header {
   height: 53px;
   width: 100%;
   position: fixed;
   z-index: 1;
}
nav {
   background: #212121;
   /* position: fixed;
   width: 100%; */
}
.menu {
   display: flex;
   justify-content: space-between;
   padding: 15px 70px 15px 70px;
   margin: 0;
   list-style-type: none;
}
.menu_link {
   color: #ffffff;
   font-weight: 300;
   font-size: 15px;
}

.menu_item {
   border-right: 2px dotted black;
   padding-right: 30px;
}
.menu_item:last-child {
   border-right: none;
}
.hamburger {
   display: none;
}
.subheader {
   position: absolute;
   top: 54px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   height: 84px;
}
.subheader_logo {
   display: block;
   max-width: 100%;
   margin-top: 19px;
}
.subheader_official {
   margin-top: 3px;
   font-weight: 200;
   font-size: 13px;
   opacity: 0.5;
   color: #ffffff;
}
.subheader_call {
   margin-top: 19px;
   color: #ffffff;
   font-weight: 300;
   font-size: 12px;
}
.subheader_phone {
   display: block;
   font-weight: 400;
   font-size: 22px;
   color: #ffffff;
   text-transform: uppercase;
}
.tel_block {
   text-align: right;
   margin: 0 0 0 155px;
}
.subheader_btn {
   font-weight: normal;
   font-size: 14px;
   text-transform: uppercase;
   color: #ffffff;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
   width: 172px;
   height: 46px;
   background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
   box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   border: none;
   margin-top: 20px;
   &:hover,
   :active {
      background: $color_blue;
   }
}
/*header is done*/

.promo {
   min-height: 800px;
   background: url("../img/intro/uber_bg.png") center center/cover no-repeat;
   padding: 180px 0 135px 0;
}
.promo_header {
   color: #ffffff;
   font-weight: 700;
   font-size: 60px;
   line-height: 60px;
   text-transform: uppercase;
   margin: 0;
   text-align: center;
}
.promo_subheader {
   color: #ffffff;
   font-weight: 700;
   font-size: 36px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 22px 0 0 0;
   text-align: center;
}
.title {
   text-align: center;
   margin-bottom: 30px;
   font-weight: 700;
   font-size: 38px;
   text-transform: uppercase;
   color: #222222;
}
.promo-descr,
.promo-descr_2 {
   font-weight: 400;
   font-size: 17px;
   line-height: 24px;
   text-align: center;
   color: #ffffff;
   margin-top: 23px;
}

.promo_btn {
   display: block;
   margin: 100px auto 0 auto;
   width: 259px;
   height: 63px;
   background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
   box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
   border: none;
   border-radius: 4px;
   /*font*/
   font-weight: 400;
   font-size: 18px;
   text-transform: uppercase;
   color: #ffffff;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
   &:hover,
   :active {
      background: $color_blue;
   }
}
/* promo is done*/

.reasons {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 18px 0 64px;
}
.label {
   margin: 0 auto 42px;
   height: 24px;
   width: 112px;
   padding: 5px 12px;
   background-color: #000000;
   color: #fff;
   font-size: 11px;
   font-weight: 300;
   text-transform: uppercase;
   text-align: center;
}
.reasons_item {
   display: flex;
}
.reasons_icon {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 14px;
   width: 116px;
   height: 116px;
   border-radius: 50%;
   background-color: $color_blue;
}
.reasons_content {
   margin: 0px 70px 0px 20px;
   padding: 5px 4px 2px 2px;
   line-height: 21px;
}
.reasons_head {
   color: $color_blue;
   font-size: 14px;
   font-weight: 500;
}
.reasons_text {
   font-size: 14px;
   font-weight: 400;
}
.mobile {
   min-height: 864px;
   padding: 46px 0 80px;
   background: url("../img/mobile-app/mobile_bg.png") center center/cover no-repeat;
}

.mobile_title {
   margin-bottom: 1px;
}

.mobile-subtitle {
   font-weight: 500;
   font-size: 17px;
   line-height: 21px;
   color: #222222;
   text-align: center;
}
.mobile_item {
   position: relative;
   width: 320px;
   height: 280px;
   margin-bottom: 19px;
}
.mobile_item_subtitle {
   font-weight: 400;
   font-size: 24px;
   line-height: 31px;
   text-transform: uppercase;
   color: #ffffff;
   text-align: center;
}
.mobile_item_plus {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 34px;
   left: 46%;
   width: 26px;
   height: 26px;
   background: #000000;
   border-radius: 50%;
   cursor: pointer;
   &::before {
      content: "";
      display: block;
      width: 14px;
      height: 2px;
      background-color: $color_blue;
      transition: 0.3s all;
   }
   &::after {
      content: "";
      display: block;
      position: absolute;
      top: 25%;
      left: 47%;
      width: 2px;
      height: 14px;
      background-color: $color_blue;
      transition: 0.3s all;
   }
   &:hover {
      &::before,
      &::after {
         background-color: #ff5656;
      }
   }
}
.mobile_item_1 {
   background: url("../img/mobile-app/card_1.png");
   padding-top: 82px;
}
.mobile_item_2 {
   background: url("../img/mobile-app/card_2.png");
   padding-top: 88px;
}
.mobile_item_3 {
   background: url("../img/mobile-app/card_3.png");
   padding-top: 88px;
}
.mobile_item_4 {
   background: url("../img/mobile-app/card_4.png");
   padding-top: 88px;
}
.mobile_item_5 {
   background: url("../img/mobile-app/card_5.png");
   padding-top: 88px;
}
.mobile_item_6 {
   background: url("../img/mobile-app/card_6.png");
   padding-top: 83px;
}
.mobile_row {
   margin-top: 30px;
}

.choice {
   position: relative;
   min-height: 898px;
   padding: 60px 0 137px;
   background: linear-gradient(#000 55%, #fff 45%);
}
.choice_title {
   color: #fff;
   margin-bottom: 1px;
}
.choice_subtitle {
   margin-bottom: 54px;
   font-weight: 400;
   font-size: 17px;
   line-height: 21px;
   text-align: center;
   color: #fff;
}
.choice_label {
   margin: 0 auto 26px;
   height: 24px;
   width: 112px;
   padding: 5px 12px;
   background-color: #fff;
   color: #000000;
   font-size: 11px;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
}

.choice_img {
   text-align: center;
}
.bottom-image-text {
   font-weight: 300;
   font-size: 17px;
   // line-height: 24px;
   margin-bottom: 4px;
   color: #222222;
   text-align: center;
}
.require {
   min-height: 764px;
   padding: 68px 0px 87px;
}
.require_label {
   margin-bottom: 27px;
}
.require_block {
   margin: 33px 0px;
}
.require_block_nmb {
   margin-bottom: 0;
}
.require_block_title {
   font-weight: 400;
   font-size: 22px;
}
.require_list {
   margin-top: 22px;
   list-style-type: none;
   padding-left: 50px;
   & li {
      position: relative;
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      color: #222222;
      margin-bottom: 10px;

      &::before {
         content: "";
         display: block;
         position: absolute;
         left: -32px;
         top: 3px;
         width: 21px;
         height: 20px;
         background: url("../icons/require/check_blue.svg") center center/cover no-repeat;
      }
   }
}
.require_descr {
}
.require_title_blue {
   color: #1ca8c3;
}
.require_title_red {
   color: #ff5656;
}
.warning {
   .require_block_title {
      color: #ff5656;
   }
   .require_list {
      li {
         &::before {
            background: url("../icons/require/check_red.svg") center center/cover no-repeat;
         }
      }
   }
}
.world {
   position: relative;
   min-height: 720px;
   padding: 48px 0px 45px 0px;
   background: url("../img/world/world_bg.png");
}

.world-label {
   background-color: #fff;
   color: #070716;
   font-weight: 400;
   margin-bottom: 26px;
}

.world-title {
   color: #fff;
   margin-bottom: 2px;
}
.world-subtitle {
   color: #fff;
   text-align: center;
}
.world-link {
   color: $color_blue;
   text-transform: uppercase;
   position: absolute;
   bottom: 45px;
   left: 42%;
   // left: 561px;
   &:hover {
      text-decoration: underline;
      color: $color_blue;
   }
}
.footer {
   min-height: 133.5px;
   padding: 15px 21px 35px 23px;
}
.devider {
   width: 301px;
   height: 7px;
   background: $color_blue;
   margin: 0 auto;
   margin-bottom: 32px;
}
.footer-row {
   display: flex;
   justify-content: space-between;
}
.circle-row {
   display: flex;
}
.social-circle {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #070716;
   margin: 6px;
   cursor: pointer;
}
.social-circle:hover {
   text-decoration: none;
}
.icon-facebook:before {
   content: "\ea90";
   color: #fff;
}
.icon-twitter:before {
   content: "\ea96";
   color: #fff;
}
.icon-linkedin:before {
   content: "\eac9";
   color: #fff;
}
.icon-instagram:before {
   content: "\ea92";
   color: #fff;
}
.middle-row {
   margin-left: 106px;
}
.middle-line-black {
   display: flex;
   justify-content: space-around;
   font-weight: 300;
   font-size: 15px;
   text-transform: uppercase;

   margin-bottom: 16px;
   // margin-left: 155px;
   & a {
      color: #070716;
      // margin-right: 35px;
      &:last-child {
         margin-right: 0;
      }
   }
}
.middle-line-grey {
   display: flex;
   justify-content: space-between;
   font-weight: 300;
   font-size: 11px;
   text-transform: uppercase;

   margin-bottom: 16px;
   // margin-left: 50px;
   & a {
      color: #999999;
      margin-right: 22px;
      &:last-child {
         margin-right: 0;
      }
   }
}
.middle-line-blue {
   font-weight: 400;
   font-size: 11px;
   text-transform: uppercase;

   text-align: center;
   & a {
      color: $color_blue;
   }
}
@media (max-width: 767px) {
   .header {
      background: #212121;
   }
   .menu {
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.6s all;
   }
   .menu_active {
      left: 0;
   }
   .menu_item {
      border: 0;
      padding-right: 0;
   }
   .menu_link {
      font-size: 20px;
   }
   .hamburger {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      span {
         display: block;
         height: 2px;
         width: 100%;
         background-color: rgba(255, 255, 255, 1);
         margin-bottom: 2px;
      }
      &_active {
         span {
            &:nth-child(1) {
               transform: rotate(-45deg);
            }
            &:nth-child(2) {
               display: none;
            }
            &:nth-child(3) {
               transform: rotate(45deg);
            }
         }
      }
   }
   .subheader {
      top: 53px;
   }
   .choice_img img {
      width: 70%;
   }
   .footer-right-links {
      width: 10px;
      margin-left: 5px;
   }
}
