@media (max-width: 1200px) {
   .tel_block {
      margin: 0 0 0 100px;
   }
   .menu_link {
      font-size: 13px;
   }
   .menu_item {
      padding-right: 20px;
   }
   .subheader_official {
      font-size: 12px;
   }
   .promo_header {
      font-size: 56px;
   }
   .promo_subheader {
      font-size: 33px;
   }
   .promo-descr,
   .promo-descr_2 {
      font-size: 17px;
   }
   .mobile_item {
      width: 315px;
      height: 275px;
   }
   .world-link {
      left: 41%;
   }
   .footer-right-links {
      width: 240px;
   }
   .middle-row {
      margin-left: 48px;
   }
}

@media (max-width: 991px) {
   /* .wrapper {
      width: 100%;
   } */
   .menu {
      padding: 15px 35px 15px 35px;
   }
   .menu_link {
      font-size: 11px;
   }
   .menu_item {
      padding-right: 12px;
   }
   .subheader_logo {
      img {
         width: 100%;
      }
   }
   .subheader_phone {
      font-size: 21px;
   }
   .subheader_btn {
      width: 100%;
      height: 42px;
      font-size: 12px;
   }
   .tel_block {
      margin: 0 0 0 62px;
   }
   .promo_header {
      font-size: 40px;
   }
   .promo_subheader {
      font-size: 30px;
   }
   .reasons_item {
      flex-direction: column;
      align-items: center;
   }

   .reasons_content {
      margin: 10px 40px 0px 30px;
   }
   .reasons_text {
      font-size: 14px;
   }
   .reasons_icon {
      margin-top: 5px;
   }
   .title {
      font-size: 30px;
   }
   .mobile_item {
      width: 220px;
      height: 200px;
   }
   .mobile_item_subtitle {
      font-size: 17px;
   }
   .mobile_item_1 {
      padding-top: 41px;
   }
   .mobile_item_2 {
      padding-top: 41px;
   }
   .mobile_item_3 {
      padding-top: 41px;
   }
   .mobile_item_4 {
      padding-top: 41px;
   }
   .mobile_item_5 {
      padding-top: 41px;
   }
   .mobile_item_6 {
      padding-top: 41px;
   }
   .choice {
      background: linear-gradient(#000 53%, #fff 47%);
   }
   .choice_img {
      img {
         width: 676px;
      }
   }
   .reasons_icon {
      li {
         font-size: 16px;
      }
   }
   .world-link {
      left: 37%;
   }
   .footer {
      padding: 15px 15px 35px 15px;
   }
   .social-circle {
      width: 30px;
      height: 30px;
      margin: 2px;
   }
   .middle-row {
      margin-left: 43px;
   }
   .footer-right-links {
      width: 173px;
      margin-left: 5px;
   }
   .middle-line-grey {
      font-size: 9px;
   }
}
@media (max-width: 767px) {
   .header {
      background: #212121;
   }
   .menu {
      position: fixed;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.6s all;
   }
   .menu_active {
      left: 0;
   }
   .menu_item {
      border: 0;
      padding-right: 0;
   }
   .menu_link {
      font-size: 20px;
   }
   .hamburger {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      span {
         display: block;
         height: 2px;
         width: 100%;
         background-color: rgba(255, 255, 255, 1);
         margin-bottom: 2px;
      }
      &_active {
         span {
            &:nth-child(1) {
               transform: rotate(-45deg);
            }
            &:nth-child(2) {
               display: none;
            }
            &:nth-child(3) {
               transform: rotate(45deg);
            }
         }
      }
   }
   .subheader {
      top: 53px;
   }
   .choice_img img {
      width: 70%;
   }
   .footer-right-links {
      width: 10px;
      margin-left: 5px;
   }
}
@media (max-width: 576px) {
}
