@import "base/variables";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/reasons";
@import "blocks/mobile";
@import "blocks/choise";
@import "blocks/require";
@import "blocks/world";
@import "blocks/footer";

* {
   font-family: Roboto, sans-serif;
}
.wrapper {
   width: 100%;
   overflow: hidden;
}

@import "base/media";
