@import "libs/bootstrap-reboot.min";
@import "libs/bootstrap-grid.min";
@import "libs/iconfont";
@import "libs/fonts";

* {
   font-family: Roboto, sans-serif;
}
.wrapper {
   width: 100%;
   overflow: hidden;
}
@import "base/variables";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/reasons";
@import "blocks/mobile";
@import "blocks/choise";
@import "blocks/require";
@import "blocks/world";
@import "blocks/footer";
@import "base/media";
